<!-- <p>simon works!</p> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="text-align:center">
  <h1>
    {{nuevoJuego.nombre}}!
  </h1>
 </div>
<h2></h2>
<form name="juego">

    <div class="gameboard">
        <div id="rojo" class="color rojo left"></div>
        <div id="verde" class="color verde right"></div>
        <div id="azul" class="color azul left"></div>
        <div id="amarillo" class="color amarillo right"></div>
        <!-- <button [hidden]="!nuevoJuego" id="btnEmpezar" class="btn btn-info btn-lg btn-start" (click)="empezarJuego()">Nuevo</button> -->
    </div>
</form>
