<!-- <p>simon works!</p> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="text-align:center">
  <h1>
    {{nuevoJuego.nombre}}!
  </h1>
 </div>
<h2></h2>

<div class="container">
  <div class="simonBoard">
    <div class="pad" id="pad1" colour="verde"></div>
    <div class="pad" id="pad2" colour="rojo"></div>
    <div class="pad" id="pad3" colour="amarillo"></div>
    <div class="pad" id="pad4" colour="azul"></div>
  </div>

  <div>
    <img src="../../../assets/imagenes/outOfOrderadw.jpg" class="boton" style="width: 300px; height: 300px;">
  </div>
</div>
<div id="snackbar"></div>